.meny {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-lite-blue);
  height: 15rem;
}
.meny img {
  max-width: 12rem;
  height: auto;
  margin: 0px;
}
.meny-navbar {
  display: flex;
  width: 55%;
  justify-content: space-between;
  height: auto;
  font-family: "Cormorant Upright";
  margin-bottom: 5px;
  list-style: none;
}
.meny-navbar a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "Cormorant Upright";
}
