.welcome {
  display: flex;
  background-color: var(--color-cream);
  color: var(--color-dark);
  height: 700px;
  font-family: Cormerant;
  justify-content: space-between;
}
.welcome :first-child {
  align-items: none;
}
.welcome :last-child {
  align-items: end;
}
.welcome-text {
  display: flex;
  flex-direction: column;
}
.welcome-text {
  width: 60vw;
  height: 700px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.welcome-text h1 {
  font-size: 40px;
}
.welcome-text h3 {
  font-size: 25px;
}
.welcome img {
  width: 150px;
}
.welcome-rightRose {
  height: fill-content;
}
.welcome-rightRose img {
  position: relative;
  top: 70%;
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
@media screen and (max-width: 1400px) {
  .welcome {
    height: 900px;
  }
  .welcome img {
    width: 80px;
  }
  .welcome img:first-child {
    margin-top: 2rem;
  }
  .welcome-text {
    width: 60vw;
    height: 900px;
  }
}
@media screen and (max-width: 1000px) {
  .welcome {
    height: 1000px;
  }

  .welcome-text {
    width: 70vw;
    height: 1000px;
  }
}
@media screen and (max-width: 700px) {
  .welcome {
    height: 800px;
  }
  .welcome img {
    width: 50px;
  }
  .welcome-text {
    width: 70vw;
    height: 800px;
  }
  .welcome-text h1 {
    font-size: 33px;
  }
  .welcome-text h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .welcome {
    height: 900px;
  }

  .welcome-text {
    width: 70vw;
    height: 900px;
  }
}
@media screen and (max-width: 500px) {
  .welcome {
    height: 900px;
  }
  .welcome-text h1 {
    font-size: 30px;
  }
  .welcome-text h3 {
    font-size: 18px;
  }
  .welcome-text {
    width: 70vw;
    height: 900px;
  }
}
