.welcome {
  display: flex;
  background-color: white;
  color: var(--color-dark);
  height: 1000px;

  justify-content: center;
  align-items: center;
}

.welcome-text {
  display: flex;
  flex-direction: column;
}
.welcome-text {
  width: 40vw;
  height: 700px;
  display: flex;
  text-align: left;
  justify-content: center;
  font-family: "Libertinus Serif Display";
}
.welcome-text h1 {
  font-size: 34px;
  line-height: 0;
  color: var(--color-blueblack);
}
.welcome-text h2 {
  color: var(--color-blueblack);
  font-size: 26px;
  font-weight: 100;
  margin-top: 2px;
  width: 620px;
  border-bottom: 1px solid black;
}
.welcome-text h3 {
  font-size: 22px;
  font-weight: 100;
  margin-right: 2rem;
  text-align: justify;
  text-justify: inter-word;
}
.welcome-pic {
  height: 70%;
  display: flex;
  justify-content: center;
}
.welcome-pic img {
  height: 100%;
}
@media screen and (max-width: 1700px) {
  .welcome {
    flex-direction: column;
    height: 1700px;
  }
  .welcome img {
    width: 40vw;
    height: 60vw;
  }
}
@media screen and (max-width: 1400px) {
  .welcome {
    flex-direction: column;
    height: 1700px;
  }
  .welcome img {
    width: 40vw;
    height: 60vw;
  }
  .welcome img:first-child {
    margin-top: 2rem;
  }
  .welcome-text {
    width: 70vw;
    height: 900px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .welcome {
    height: 1400px;
  }
  .welcome img {
    width: 50vw;
    height: 70vw;
  }
  .welcome-text {
    height: 1000px;
  }
}
@media screen and (max-width: 800px) {
  .welcome {
    height: 1350px;
  }
  .welcome img {
    width: 70vw;
    height: 90vw;
  }
  .welcome-text h1 {
    font-size: 30px;
  }
  .welcome-text h2 {
    width: 444px;
    font-size: 19px;
    border-bottom: none;
  }
  .welcome-text h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 560px) {
  .welcome {
    height: 1200px;
    margin-top: 2rem;
  }
  .welcome-text {
    height: 800px;
  }
  .welcome-text h2 {
    width: 70vw;
    font-size: 20px;
  }
  .welcome-text h3 {
    font-size: 20px;
  }
  .welcome-text {
    height: 800px;
  }
  .welcome-pic {
    height: 50%;
  }
}
@media screen and (max-width: 440px) {
  .welcome {
    height: 1100px;
  }
  .welcome-text h1 {
    font-size: 25px;
  }
  .welcome-text h2 {
    font-size: 20px;
    width: 310px;
  }
  .welcome-text h3 {
    font-size: 20px;
  }
  .welcome-text {
    width: 90vw;
    height: 900px;
  }
}
