.bukett {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.bukett-text {
  width: 30vw;
  margin-right: 2rem;
  font-family: "Libertinus Serif Display";
  font-weight: 100;
}
.bukett-text h1 {
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}
.bukett-text h4 {
  font-weight: 100;
  font-size: 20px;
}
.bukett-text-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border: 2px solid rgb(180, 170, 170);
  margin-top: 5rem;
}
.bukett-text-button:hover {
  border: 2px solid rgb(151, 146, 146);
}
.bukett-text-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 27px;
  font-family: "Libertinus Serif Display";
  font-weight: 100;
  width: 80%;
}
.bukett-bild img {
  width: 50vh;
}
@media screen and (max-width: 888px) {
  .bukett {
    flex-direction: column-reverse;
    height: 1100px;
  }
  .bukett-bild img {
    width: 50vw;
  }
  .bukett-text {
    width: 80vw;
    text-align: center;
    margin-right: 0;
  }
  .bukett-text-text h4 {
    text-align: center;
  }
}
@media screen and (max-width: 685px) {
  .bukett {
    height: 1000px;
  }
  .bukett-bild img {
    width: 60vw;
  }
}

@media screen and (max-width: 445px) {
  .bukett {
    height: 900px;
  }
}
@media screen and (max-width: 385px) {
  .bukett {
    height: 900px;
  }
}
