.header {
  position: relative;
  background-color: var(--color-cream);
  height: 80vh;
}
/* .header-slider {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 99vw;
  background-color: var(--color-lite-blue);
  transform: translate(-50%, -50%);
  animation: 3s slider 1s;
  animation-iteration-count: 1;
} */
.header-bg2 {
  visibility: hidden;
  width: 100%;
  height: 82vh;
  object-fit: cover;
}

/* @keyframes slider {
  0% {
    visibility: visible;
  }

  100% {
    transform: translateX(-3000px);
  }
}

.header-slider img {
  height: 200px;
  width: 150px;
  object-fit: cover;
} */

.header-bg {
  width: 100%;
  height: 82vh;
  object-fit: cover;
}
.header-info {
  position: absolute;
  top: 85%;
  left: 20%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  width: 640px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.136);
}
.header-info h2 {
  color: rgb(255, 255, 255);
  font-size: 55px;
  font-family: "Cormorant Upright";
  text-shadow: 5px;
  font-weight: 600;
}

@media screen and (max-width: 1640px) {
  .header-info {
    width: 500px;
    top: 85%;
    left: 25%;
  }
  .header-info h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1250px) {
  .header-info {
    width: 500px;
    top: 85%;
    left: 50%;
  }
  .header-bg2 {
    visibility: visible;
  }
  .header-bg {
    visibility: hidden;
    width: 0;
    height: 0;
    object-fit: none;
  }
  .header-info h2 {
    font-size: 40px;
  }
  .header img {
    object-position: 20% 80%;
  }
}

@media screen and (max-width: 680px) {
  .header-info {
    width: 350px;
    top: 87%;
    left: 50%;
  }
  .header-info h2 {
    font-size: 30px;
  }
  .header img {
    object-position: 20% 80%;
  }
}
