.begravning {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.begravning-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 1rem; */
}

.begravning-title img {
  position: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 97vw;
  object-fit: cover;
}
.begravning-text {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.begravning-text h2 {
  font-size: 40px;
  font-family: "Libertinus Serif Display";
  font-weight: 100;
  line-height: 10px;
}
.begravning-text span {
  font-size: 32px;
  font-family: "Libertinus Serif Display";
  font-weight: 100;
  line-height: 15px;
}
.begravning-text a {
  color: red;
  text-decoration: underline;
}
.begravning-text h5 {
  font-size: 26px;

  font-family: "Libertinus Serif Display";
  font-weight: 100;
  line-height: 2px;
}

.begravning-linje {
  width: 90vw;
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 3px;
}

.begravning-linje::after {
  background: #fff;
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.begravning-links {
  list-style: none;
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-top: 2rem;
}
.begravning-links a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  color: rgb(46, 46, 46);
  font-size: 25px;
  font-family: "Libertinus Serif Display";
  font-weight: 100;
}
.begravning-links a:hover {
  color: #5e88fd;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery-title h2 {
  font-family: "Libertinus Serif Display";
  font-weight: 100;
  display: flex;
  justify-content: center;
  font-size: 35px;
  margin-top: 5rem;
}
.gallery-items {
  flex-wrap: wrap;
  display: flex;

  justify-content: space-evenly;
  width: 80vw;
  align-items: center;
}
.gallery-item {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.gallery-item img {
  width: 17vw;
  height: 17vw;
}
.gallery-item h2 {
  font-family: "Libertinus Serif Display";
  font-weight: 100;
  line-height: 1px;
}
.gallery-item span {
  font-family: "Libertinus Serif Display";
  font-weight: 100;
  line-height: 5px;
  color: var(--color-blue);
  font-size: 20px;
}
@media screen and (max-width: 1120px) {
  .begravning-text h5 {
    text-align: center;
    line-height: normal;
  }
  .begravning-text span {
    text-align: center;
    line-height: normal;
  }
}
@media screen and (max-width: 900px) {
  .begravning-links {
    width: 80vw;
  }
  .begravning-links a {
    font-size: 21px;
  }
  .begravning-text span {
    text-align: center;
    line-height: normal;
  }
}
@media screen and (max-width: 650px) {
  .begravning-links a {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .begravning-links {
    width: 90vw;
  }
  .begravning-links a {
    font-size: 15px;
  }
  .begravning-text h2 {
    font-size: 29px;
  }

  .begravning-text span {
    font-size: 20px;
  }
  .begravning-text h5 {
    font-size: 20px;
  }
}
@media screen and (max-width: 380px) {
  .begravning-links a {
    font-size: 14px;
  }
}
