.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 230px;
  background-color: var(--color-cream);
}
.footer-kontakt,
.footer-tider,
.footer-media {
  width: 32%;
}
.footer-vector {
  display: none;
}
.footer-title {
  font-family: "Cormorant Upright";
  font-size: 26px;
  color: rgb(98, 83, 1);
}
.footer-kontakt,
.footer-tider {
  font-family: "Cormorant Upright";
  font-size: 22px;
  font-weight: 600;
  color: rgb(21, 1, 87);
  text-align: center;
}
.footer-media {
  color: var(--color-blue);
  display: flex;
  justify-content: center;
}
.footer-media :first-child {
  margin-right: 2rem;
}

@media screen and (max-width: 800px) {
  .footer {
    height: 500px;
    flex-direction: column;
  }
  .footer-vector {
    display: flex;
  }
  .footer-kontakt,
  .footer-tider {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    height: 400px;
  }
  .footer-kontakt,
  .footer-tider {
    font-size: 16px;
  }
}
