.vårbutik {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.vårbutik-första-raden {
  height: 48vh;
  display: flex;
}
.vårbutik-första-raden img {
  width: calc(100% / 3);
}
.vårbutik-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14vh;
  font-size: 50px;
  font-family: "Cormorant Upright";
  color: var(--color-dark);
  background-color: var(--color-cream);
}
.vårbutik-andra-raden {
  height: 38vh;
  display: flex;
}
.vårbutik-andra-raden img {
  width: 25%;
}
@media screen and (max-width: 950px) {
  .vårbutik-första-raden {
    height: 34vh;
  }
  .vårbutik-andra-raden {
    height: 28vh;
  }
  .vårbutik-text {
    height: 14vh;
    font-size: 30px;
  }
}

@media screen and (max-width: 445px) {
  .vårbutik-första-raden {
    height: 20vh;
  }
  .vårbutik-andra-raden {
    height: 18vh;
  }
  .vårbutik-text {
    height: 10vh;
    font-size: 16px;
  }
}
