.blommor {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.blommor-title {
  height: 120px;
  width: 600px;
  font-family: "Cormorant Upright";
  color: var(--color-blue);
  font-size: 40px;
  border-bottom: 1px black solid;
}
.blommor-bild {
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.blommor-bild img {
  width: 25%;
}
.blommor-text {
  font-family: "Cormorant Upright";
  font-size: 20px;
  width: 70%;
}
