.blommors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blommor-head {
  position: relative;
  background-color: var(--color-cream);
  height: 40vh;
  width: 100%;
}
.blommors img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.blommor-head-text {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);

  width: 640px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blommor-head-text span {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-family: "Libertinus Serif Display";
  font-weight: 100;
  text-shadow: 5px;
  font-weight: 600;
}
.blommor-title-text {
  font-family: "Libertinus Serif Display";
  font-weight: 100;
  font-size: 35px;
  margin-top: 4rem;
  color: rgb(0, 0, 0);
}
.blommor-title-text-andra {
  font-family: "Libertinus Serif Display";
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  margin-bottom: 4rem;
  color: rgb(0, 0, 0);
}
.blommor-title-text-andra a {
  text-decoration: underline;
  color: rgb(189, 11, 11);
}
.blommor-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blommor-gallery-title h2 {
  font-family: "Libertinus Serif Display";
  font-weight: 100;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.blommor-gallery-items {
  flex-wrap: wrap;
  display: flex;

  justify-content: space-evenly;
  width: 90vw;
  align-items: center;
}
.blommor-gallery-item {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.blommor-gallery-item img {
  width: 24vw;
  height: 28vw;
}
.blommor-gallery-item h2 {
  font-family: "Barlow Condensed";
  line-height: 1px;
}
.blommor-gallery-item span {
  font-family: "Barlow Condensed";
  line-height: 5px;
  color: var(--color-blue);
  font-size: 20px;
}
@media screen and (max-width: 1600px) {
  .blommor {
    height: 1650px;
  }
}
@media screen and (max-width: 1500px) {
  .blommor {
    height: 1450px;
  }
}
@media screen and (max-width: 1400px) {
  .blommor {
    height: 1350px;
  }
}
@media screen and (max-width: 1300px) {
  .blommor {
    height: 1250px;
  }
}
@media screen and (max-width: 1200px) {
  .blommor {
    height: 1200px;
  }

  .blommor-head-text {
    left: 25%;
  }
}
@media screen and (max-width: 1100px) {
  .blommor {
    height: 1650px;
  }
  .blommor-title-text {
    font-size: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .blommor {
    height: 1650px;
  }
  .blommor-title-text {
    font-size: 25px;
  }
  .blommor-head-text {
    left: 30%;
  }
}

@media screen and (max-width: 760px) {
  .blommor {
    height: 1650px;
  }
  .blommor-title-text {
    font-size: 20px;
  }
  .blommor-head-text span {
    font-size: 25px;
  }
}
@media screen and (max-width: 588px) {
  .blommor-title-text span {
    font-size: 17px;
  }
  .blommor-head-text span {
    font-size: 20px;
  }
}
@media screen and (max-width: 488px) {
  .blommor-title-text {
    text-align: center;
  }
  .blommor-head-text span {
    font-size: 15px;
  }
}
