.blommors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blommor-head {
  position: relative;
  background-color: var(--color-cream);
  height: 40vh;
  width: 100%;
}
.blommors img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.blommor-head-text {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);

  width: 640px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blommor-head-text span {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-family: "Cormorant Upright";
  text-shadow: 5px;
  font-weight: 600;
}
.blommor-title-text {
  font-family: "Cormorant Upright";
  font-size: 35px;
  text-shadow: 5px;
  font-weight: 600;
  color: rgb(82, 106, 240);
}
.blommor-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blommor-gallery-title h2 {
  font-family: "Cormorant Upright";
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.blommor-gallery-items {
  flex-wrap: wrap;
  display: flex;

  justify-content: space-evenly;
  width: 80vw;
  align-items: center;
}
.blommor-gallery-item {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.blommor-gallery-item img {
  width: 24vw;
  height: 28vw;
}
.blommor-gallery-item h2 {
  font-family: "Barlow Condensed";
  line-height: 1px;
}
.blommor-gallery-item span {
  font-family: "Barlow Condensed";
  line-height: 5px;
  color: var(--color-blue);
  font-size: 20px;
}
@media screen and (max-width: 1600px) {
  .blommor {
    height: 1650px;
  }
}
@media screen and (max-width: 1500px) {
  .blommor {
    height: 1450px;
  }
}
@media screen and (max-width: 1400px) {
  .blommor {
    height: 1350px;
  }
}
@media screen and (max-width: 1300px) {
  .blommor {
    height: 1250px;
  }
}
@media screen and (max-width: 1200px) {
  .blommor {
    height: 1200px;
  }
}
@media screen and (max-width: 1100px) {
  .blommor {
    height: 1650px;
  }
}
@media screen and (max-width: 1000px) {
  .blommor {
    height: 1650px;
  }
}
@media screen and (max-width: 900px) {
  .blommor {
    height: 1650px;
  }
}
@media screen and (max-width: 800px) {
  .blommor {
    height: 1650px;
  }
}
@media screen and (max-width: 700px) {
  .blommor {
    height: 1650px;
  }
}

@media screen and (max-width: 600px) {
  .blommor {
    height: 1650px;
  }
}
@media screen and (max-width: 500px) {
  .blommor {
    height: 1650px;
  }
}
@media screen and (max-width: 400px) {
  .blommor {
    height: 1650px;
  }
}
